#ajaxSpinner{
   text-align:center; 
    
}
.mib_center{
    text-align:center;
}
.mib_right{
    text-align:right;  
}
#mibViewRecord{
    border-collapse: collapse;     
    width:100%;
}
.contentCol{
    width:30%;
}
.titleCol{
    width:20%;
    font-weight: bold;
    }
#mibHistoryTable{
    border-collapse: collapse;     
    width:100%; 
}
.mibHistDate{
    width:20%;
}
.mibHistAction{
    width:20%;
}
.mibHistBottle{
    width:5%;
    text-align: right;      
}
.mibHistLion{
    width:20%;        
}
.mibHistComment{
    width:30%;  
}
.mibHistViewRec{
      width:5%;   
}
.mibCol13{
    width:15%
    
    }
.mibcol13Title{
       font-weight: bold; 
        }
.mibCol24{
     width:35%
    }
    



